
.login-container {
  background-color: #82b435;;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: opacity 1s;
}

.maarchLogo {
  width: 30%;
  height: auto;
  padding-top: 1px;
  position: relative;
  bottom: 30px;
}

.infoLogin {
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
  bottom: 138px;
  margin: 0 70px;
  text-align: justify;
  text-justify: auto;
}

.login-form {
  text-align: center;
  max-width: 385px;
  padding: 48px 4px !important;
  height: auto;
  box-shadow: 0.33px 2px 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: #fff;
  overflow: hidden;
  border: 2px #fff solid;
}

.mat-mdc-text-field-wrapper{
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  outline: none;
  font-size: 100%;
  width: 316px
}
.login-form:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //box-shadow: inset 0 0 2000px rgba(6, 136, 34, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.input-row{
 width: 80%;
 padding: auto;
}

.product_name{
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.connexion_button{
  color: white;
  background: #82b435;
  width: 80%;
  font-family: Open Sans Bold,Arial,sans-serif;
  min-height: 34px;
}

.mat-mdc-text-field-wrapper {
  height: 15px; /* Réduisez la hauteur selon vos besoins */
  padding: 4px; /* Ajustez la marge intérieure si nécessaire */
}

.mat-form-field {
  margin-bottom: 10px; /* Réduisez l'espace entre les champs de saisie */
}
