  <div class="login-container">
      <!-- <div class="login-content" [ngStyle]="{'background-image': 'url(../../../assets/img/maarch.jpg)'}"> -->
      <div class="login-form">
        <img src="../../../assets/img/Odigital.png" alt="DIGITAL FLOW" class="maarchLogo">
        <p class="product_name">DIGITAL FLOW</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()" >
          <div class="input-container">
            <mat-form-field class="input-row">
              <input autofocus matInput placeholder="Identifiant" formControlName="userId" type="text">
            </mat-form-field>
            <mat-form-field class="input-row">
              <input matInput placeholder="Mot de passe" [type]="hidePassword ? 'password' : 'text'"
                formControlName="password" autocomplete="off">
              <button type="button" matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button type="submit" mat-stroked-button [disabled]="loginForm.invalid" class="connexion_button">Se connecter</button>
        </form>
      </div>
      <mat-hint><a class="infoLogin">DIGITAL FLOW 2024, tous droits reservés</a></mat-hint>
    </div>