<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="edit-profile">
      <div class="row">
        <div class="col-xl-8" style="margin-right: 260px">
          <form class="card" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
            <div class="card-header">
              <h4 class="card-title mb-0">Réinitialisation du mot de passe</h4>
              <div class="card-options">
                <a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                <a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a>
              </div>
            </div>
            <div class="card-body">
              <mat-form-field class="input-row">
                <input matInput placeholder="Ancien mot de passe" [type]="hidePassword ? 'password' : 'text'"
                  formControlName="oldPassword" autocomplete="off">
                <button type="button" matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field><br>
              <mat-form-field class="input-row">
                <input matInput placeholder="Nouveau mot de passe" [type]="hidePassword ? 'password' : 'text'"
                  formControlName="password" autocomplete="off">
                <button type="button" matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="input-row">
                <input matInput placeholder="Confirmer le mot de passe" [type]="hidePassword ? 'password' : 'text'"
                  formControlName="confirmPassword" autocomplete="off" (input)="checkPasswordMatch()">
                <button type="button" matSuffix mat-icon-button (click)="hidePassword = !hidePassword">
                  <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <!-- Validation icon and error message -->
                <mat-icon class="validation-icon" *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">highlight_off</mat-icon>
                <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('passwordMismatch')">
                  Les mots de passe ne correspondent pas.
                </mat-error>
              </mat-form-field>
              
            </div>
            <div class="card-footer text-end">
              <button class="btn btn-primary" type="submit">Mettre à jour le mot de passe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  <!-- Container-fluid Ends-->
</div>
