mat-form-field{
    width: 100%;
}
/* Add this in your CSS to style the validation icon */
.validation-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(245, 5, 5); /* Change the color to your desired color for validation */
    font-size: 18px; /* Adjust the font size as needed */
  }
  