<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <mat-card class="example-card" *cdkVirtualFor="let com of comment">
    <mat-card-header>
      <mat-card-subtitle>{{ com.entry.createdBy.firstName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{ com.entry.content }}</mat-card-content>
  </mat-card>
</cdk-virtual-scroll-viewport>

<form [formGroup]="myForm" (ngSubmit)="addComment()" class="custom-form">
  <mat-form-field class="custom-form-field">
    <mat-label>Vos observations</mat-label>
    <textarea matInput formControlName="content" class="custom-textarea"></textarea>
  </mat-form-field>
  <button mat-raised-button class="custom-button" type="submit" [disabled]="myForm.invalid">valider</button>
</form>
