.edit-profile .profile-title .media .media-body {
  margin-left: 14px;
}
.media .media-body {
  flex: unset;
}

.img-70 {
  width: 70px !important;
}
.rounded-circle {
  border-radius: 50% !important;
}

