<mat-card class="card-0x">
  <div class="fixed-header">
    <button class="back" mat-button (click)="previous()">
      <mat-icon>subdirectory_arrow_left</mat-icon>{{ nodeprecedent }}
    </button>
    <nav class="breadcrumb">
      <span *ngFor="let parentName of parentNameStack; let last = last">
        <a *ngIf="!last; else lastCrumb">{{ parentName }}</a>
        <ng-template #lastCrumb>{{ parentName }}</ng-template>
        <span *ngIf="!last" class="divider"> > </span>
      </span>
    </nav>
  </div>
  <!-- Autres contenus de mat-card... -->
</mat-card>

<!-- Itérer sur les noeuds courants -->
<ng-container *ngFor="let node of currentNode">
  <!-- Vérifier si c'est un dossier et si son nom n'est pas exclu -->
  <mat-card *ngIf="node.entry.isFolder && !excludedFolderNames.includes(node.entry.name)" class="card_style">
    <mat-card-header (click)="findChildren(node.entry.id); getName(node.entry.name, node.entry.nodeType)">
      <mat-card-title>{{ node.entry.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card_subtitle">
      <p *ngIf="node.entry.createdAt === node.entry.modifiedAt">
        Créé {{ getTimeDate(node.entry.createdAt) }} par {{ node.entry.createdByUser.displayName }}
      </p>
      <p *ngIf="node.entry.createdAt !== node.entry.modifiedAt">
        Modifié {{ getTimeDate(node.entry.modifiedAt) }} par {{ node.entry.modifiedByUser.displayName }}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button *ngIf="!['User Homes', 'Shared'].includes(node.entry.name) && specialFolderActions.includes('Copier')" mat-button (click)="openCopyAndMove(node.entry); $event.stopPropagation()">
        <mat-icon class="material-symbols-outlined">file_copy</mat-icon> Copier
      </button>
      
      <button mat-button (click)="openCopyAndMove(node.entry); $event.stopPropagation()">
        <mat-icon class="material-symbols-outlined">move_up</mat-icon> Déplacer
      </button>
      <button mat-button (click)="trashcanAction(node.entry.id, node.entry.name, 'temporaire'); $event.stopPropagation()">
        <mat-icon>delete</mat-icon> Supprimer
      </button>
      <button mat-button (click)="openUpdateFolder(node.entry); $event.stopPropagation()">
        <mat-icon>edit</mat-icon> Modifier
      </button>
      <!-- Ajouter d'autres actions si nécessaire -->
    </mat-card-actions>
  </mat-card>

  <!-- Vérifier si c'est un fichier -->
  <mat-card *ngIf="node.entry.isFile" class="card_style">
    <mat-card-header>
      <mat-card-title>{{ node.entry.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="node.entry.createdAt === node.entry.modifiedAt">
        Créé {{ getTimeDate(node.entry.createdAt) }} par {{ node.entry.createdByUser.displayName }}
      </p>
      <p *ngIf="node.entry.createdAt !== node.entry.modifiedAt">
        Modifié {{ getTimeDate(node.entry.modifiedAt) }} par {{ node.entry.modifiedByUser.displayName }}
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button (click)="previewFile(node.entry, node.entry.name); $event.stopPropagation()">
        <mat-icon>visibility</mat-icon> Prévisualiser
      </button>
      <button mat-button (click)="downloadFile(node.entry.id, node.entry.name); $event.stopPropagation()">
        <mat-icon>download</mat-icon> Télécharger
      </button>
      <button mat-button (click)="openCopyAndMove(node.entry); $event.stopPropagation()">
        <mat-icon class="material-symbols-outlined">file_copy</mat-icon> Copier
      </button>
      <button mat-button (click)="openCopyAndMove(node.entry); $event.stopPropagation()">
        <mat-icon class="material-symbols-outlined">move_up</mat-icon> Déplacer
      </button>
      <button mat-button (click)="versionHistory(node.entry.id); OpenVersionpopup(node.entry.id); $event.stopPropagation()">
        <mat-icon>history</mat-icon> Historique de versions
      </button>
      <button mat-button (click)="trashcanAction(node.entry.id, node.entry.name, 'temporaire'); $event.stopPropagation()">
        <mat-icon>delete</mat-icon> Supprimer
      </button>
      <!-- Ajouter d'autres actions si nécessaire -->
    </mat-card-actions>
  </mat-card>
</ng-container>
