<div class="dashboard">
  <div class="sidebar">
    <div class="sidebar">
      <div class="sidebar-item active" routerLink="/dashboard/home" (click)="changeRoot()">
        <span class="material-icons">home</span>
        <span>Home</span>
    </div>
    <div class="sidebar-item" routerLink="/dashboard/repository" (click)="changeRoot()">
        <span class="material-icons">folder</span>
        <span>Repository</span>
    </div>
    <div class="sidebar-item" routerLink="/dashboard/myfiles" (click)="changeRoot()">
      <span class="material-icons">folder_shared</span>
        <span>My file</span>
    </div>
    <div class="sidebar-item" routerLink="/dashboard/shared" (click)="changeRoot()">
      <span class="material-icons">share</span>
      <span>Shared</span>
  </div>
  <div class="sidebar-item" routerLink="/dashboard/trashcan" (click)="changeRoot()">
    <span class="material-icons">recycling</span>
    <span>Trash</span>
</div>
    <mat-divider></mat-divider>
    <div class="sidebar-item" routerLink="/dashboard/account" (click)="changeRoot()">
        <span class="material-icons">account_circle</span>
        <span>{{userId}}</span>
    </div>
    <div class="sidebar-item" (click)="logout()">
      <span class="material-icons">logout</span>
      <span>Déconnexion</span>
  </div>
    </div>
  </div>
  <div class="search-bar-container">
    <div class="search-bar">
      <input type="text"
             placeholder="Search..."
             [matAutocomplete]="auto"
             (input)="onSearchInput($event)"
             [formControl]="searchControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let result of searchResults" [value]="result.entry.name">
          {{ result.entry.name }}
        </mat-option>
      </mat-autocomplete>
      <button class="button" (click)="OpenFolderFormPopup()"><span class="material-icons">add</span>Add New</button>
      <button class="button" (click)="OpenUploadPopup()"><span class="material-icons">file_upload</span>Upload</button>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>