<form [formGroup]="myform">
  <h1 mat-dialog-title>Upload a file</h1>
  <div mat-dialog-content>
    <mat-stepper orientation="vertical">
      <!-- Step 1 -->
      <mat-step>
        <ng-template matStepLabel>Select nodeType</ng-template>
        <ng-template matStepContent>
          <mat-form-field>
            <mat-label>Typologie</mat-label>
            <mat-select formControlName="nodeType" required>
              <mat-option *ngFor="let type of nodeTypes" [value]="type.name" (click)="changeNodeType(type.name)">{{ type.title }}</mat-option>
            </mat-select>
          </mat-form-field>
<!--           <mat-form-field>
            <mat-label>Nom du document</mat-label>
            <input matInput formControlName="cm:name" required="true">
          </mat-form-field><br> -->
          <mat-form-field>
            <mat-label>Titre du document</mat-label>
            <input matInput formControlName="cm:title">
          </mat-form-field><br>
        </ng-template>
      </mat-step>

      <!-- Step 2 -->
      <mat-step>
        <ng-template matStepLabel>Metadata fields</ng-template>
        <ng-template matStepContent>
          <!-- Iterate over form controls -->
            <div [ngSwitch]="level2.dataType">
              <mat-form-field *ngSwitchCase="'d:date'">
                <mat-label>{{level2.title}}</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="level2.name">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <br>
              <!-- Ajoutez d'autres cas pour différents types de champs -->
            </div>
        </ng-template>
      </mat-step>
      <!-- Step 3 -->
      <mat-step>
        <ng-template matStepLabel>Upload a file</ng-template>
       <ng-template matStepContent>
        <div>       
            <div>
              <input
                type="file"
                (change)="selectFile($event)"
              />
            </div>
            <button
            mat-flat-button
            color="primary"
            (click)="upload()"
          >
            Finish
          </button>
        </div>
        
        <div *ngIf="message" class="message">
          {{ message }}
        </div>       
  </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</form>
