<form [formGroup]="myform">
  <h1 mat-dialog-title>Upload a file</h1>
  <div mat-dialog-content>
    <mat-stepper orientation="vertical">
      <!-- Étape 1 : Sélection du type de nœud -->
      <mat-step>
        <ng-template matStepLabel>Select nodeType</ng-template>
        <ng-template matStepContent>
          <mat-form-field>
            <mat-label>Typologie</mat-label>
            <mat-select formControlName="nodeType" required>
              <mat-option *ngFor="let type of nodeTypes" [value]="type.name" (click)="changeNodeType(type.name)">{{ type.title }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Titre du document</mat-label>
            <input matInput formControlName="cm:title">
          </mat-form-field><br>
        </ng-template>
      </mat-step>

      <!-- Étape 2 : Champs de métadonnées dynamiques -->
      <mat-step>
          <ng-template matStepLabel>Metadata fields</ng-template>
          <ng-template matStepContent>
            <!-- Itération sur les champs de métadonnées -->
            <div *ngFor="let field of metadataFields">
              <mat-form-field *ngIf="field.dataType === 'd:text'">
                <mat-label>{{field.title}}</mat-label>
                <input matInput [formControlName]="field.name" [required]="field.mandatory"> <!-- Utilisation de [required] -->
                <mat-hint *ngIf="field.mandatory">Champ obligatoire</mat-hint> <!-- Ajout d'un indicateur visuel -->
              </mat-form-field>
              <mat-form-field *ngIf="field.dataType === 'd:date'">
                <mat-label>{{field.title}}</mat-label>
                <input matInput [matDatepicker]="datepickers[field.name]" [formControlName]="field.name" [required]="field.mandatory"> <!-- Utilisation de [required] -->
                <mat-datepicker-toggle matIconSuffix [for]="datepickers[field.name]" [required]="field.mandatory"></mat-datepicker-toggle> <!-- Utilisation de [required] -->
                <mat-datepicker #datepickers[field.name]="matDatepicker"></mat-datepicker>
                <mat-hint *ngIf="field.mandatory">Champ obligatoire</mat-hint> <!-- Ajout d'un indicateur visuel -->
              </mat-form-field>
              <br>
            </div>
          </ng-template>
        </mat-step>


      <!-- Étape 3 : Téléchargement de fichier -->
      <mat-step>
        <ng-template matStepLabel>Upload a file</ng-template>
        <ng-template matStepContent>
          <div>
            <div>
              <input type="file" (change)="selectFile($event)" />
            </div>
            <button mat-flat-button color="primary" (click)="upload()">
              Finish
            </button>
          </div>
          <div *ngIf="message" class="message">
            {{ message }}
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</form>
