<ul>
    <li><a routerLink="/dashboard/account/general" routerLinkActive="active">Général</a></li>
    <li><a routerLink="/dashboard/account/password-reset" routerLinkActive="active">Mot de passe</a></li>
    <li><a routerLink="/dashboard/account/trashcan" routerLinkActive="active">Ma corbeille</a></li>
    <!-- <li><a routerLink="/dashboard/account/site" routerLinkActive="active">Site</a></li> -->
    <li><a routerLink="/dashboard/account/groupe" routerLinkActive="active">Mes groupes</a></li>
</ul>

<div class="dashboard">

    <router-outlet></router-outlet>
      
</div>
