.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 80px; /* Ajustez ce padding selon vos besoins */
  
    .mat-form-field {
      width: 100%; /* Assurez-vous que la largeur ne dépasse pas la largeur du dialogue */
      margin-bottom: 15px;
    }
  }
  .field {
    border-top-left-radius: var(--mdc-filled-text-field-container-shape);
    border-top-right-radius: var(--mdc-filled-text-field-container-shape);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  